{{> head}}
{{> navbar}}
    <div class="row">
        <div class="col-8">
            <h3>Sobr esta pagina</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ut accusantium alias itaque possimus error nostrum eum quo quos minus repudiandae veniam excepturi vel quas impedit, illum eaque vitae tempore.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/descarga.png" alt="">
        </div>
    </div>
{{> footer}}